
body
{
	font-family: Helvetica, Arial, sans-serif;
	background-color: white;
	font-size: 1em;
	
	color: #444;
}

a, a:visited
{
	color: #306495;
	background: inherit;
	text-decoration: none;
}

a:hover
{
	color: #73471B;
	background: inherit;
	text-decoration: underline;
}

img
{
	border: 0;
	padding: 0;
}





