
@import url("poll.css");
@import url("list.css");
@import url("tags.css");
@import url("news.css");
@import url("objectmenu.css");

body
{
	font: normal 10pt Arial,Helvetica,sans-serif;
	background-color: white;
	color: #444;
	text-align: left;
	margin: 0;
	padding: 0;
	scroll: no;
}

a, a:visited
{
	color: #306495;
	background: inherit;
	text-decoration: none;
}

a:hover
{
	color: #73471B;
	background: inherit;
	text-decoration: underline;
}

img
{
	border: 0;
	padding: 0;
}

h2
{
	margin: 20px 0 0px 25px;
	font-size: 1.4em;
}

hr
{
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #e5e5e5;
}
    

.page
{
}

/* ---------------------------------------------- */

.page .headermenu
{
	position: fixed;
	right: 10px;
	top: 0px;
	color: #ccc;
	z-index: 10;
	font-size: 1.0em;
}

.page .headermenu img
{
	border-radius: 5px;
	padding: 2px 0 0 0; 
	height: 26px;
}

.page .headermenu a
{
	color: #ccc;
	text-decoration: none;
}

/* ---------------------------------------------- */

.page .tabmenu-out
{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 8;
	height: 40px;
	color: #aaa;

	background-image: url(/images/base/top_header.png);
	background-repeat: repeat-x;
	
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}

.page .tabmenu-inner
{
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
}

.page .tabmenu-inner a
{
	text-decoration: none;
	padding: 10px;
	color: #aaa;
}

.page .tabmenu-inner .selected
{
	color: #eee;
	border: 1px solid #181818;
	background-image: url(/images/base/top_header_selected.png);
	background-repeat: repeat-x;
}

/* ---------------------------------------------- */

.page .main
{
	padding: 10px 10px;
	border: 0;
	margin: 0;
	font-size: 1.2em;
}

.page .content-out
{
	padding: 36px 0px 0px 0px;
}

.page .content-inner
{
	padding: 10px;
}

/* ---------------------------------------------- */

.page .footer
{
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	width: 98%;
	background-color: #ccc;
	color: #333;
}

.page .footer p
{
	padding: 0px;
	margin: 0px;
}

/* ---------------------------------------------- */

.main-left-box
{
	border: 1px solid #e8e8e8;
	border-radius: 5px;
}

.main-left-title
{
	padding: 8px;
	background-color: #e5e5e5;
	font-weight: bold;
}

.main-left-inner
{
	padding: 5px;
}

.main-left-inner ul
{
	padding: 0px;
	margin: 5px 0 0 0;
}

.main-left-inner li
{
	padding: 5px;
	list-style: none;
	font-size: 1.0em;
}

.main-text-input
{
	width: 98%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}

.main-submit-button
{
	width: 80px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}

.ssrow:hover
{
	background-color: #E3F0F8;
}

.ssselected
{
	background-color: #d3e0e8;
}





